@{
    ViewData["Title"] = "Help";
}
<h2>@ViewData["Title"].</h2>
<h4>Find the help you need.</h4>
<hr />

<br />
<h3>Kosmo</h3>
<p>
    Kosmo is a standard model for web based services running on Microsoft IIS.
    Checkout the project wiki page on GitHub <a asp-area="" asp-controller="Home" asp-action="KosmoGitHub">here</a>.
</p>

<br />

<h3>Kosmo API</h3>
<p>
    This Kosmo service includes a RESTFUL API for data exchange. Checkout the
    Swagger specification <a asp-area="" asp-controller="Home" asp-action="Swagger">here</a>.
</p>
